/imagedb.db
__pycache__
*/__pycache__
*/__pycache__/*
.pytest_cache
*/.pytest_cache
*/.pytest_cache/*
__pycache__/*
/.vscode
/.vscode/*
/thumbnails/*
/tests/thumbnails
/tests/thumbnails/*
/nohup.out
config
/dist
/main.spec
/build
